{% extends "base.html" %}

{% block title %}Detalles - Portal de Adopciones{% endblock %}

{% block content %}
<div class="detalle-box">
    <h2>Detalles del Aviso</h2>
    <img id="foto-principal" 
         src="{{ url_for('static', filename='uploads/' + aviso['foto_principal']) }}" 
         alt="{{ aviso['tipo'] }}">
    
    <ul>
        <li><strong>Tipo:</strong> {{ aviso['tipo']|title }}</li>
        <li><strong>Edad:</strong> {{ aviso['edad_formato'] }}</li>
        <li><strong>Cantidad:</strong> {{ aviso['cantidad'] }}</li>
        <li><strong>Descripcion:</strong> {{ aviso['descripcion'] }}</li>
        <li><strong>Ubicación:</strong> {{ aviso['sector'] }}, {{ aviso['comuna'] }}, {{ aviso['region'] }}</li>
    </ul>
    <br>
    
    <h3>Contacto:</h3>
    <ul>
        <li><strong>Nombre:</strong> {{ aviso['contacto']['nombre'] }}</li>
        {% if aviso['contacto']['instagram'] %}
            <li><strong>Instagram:</strong> {{ aviso['contacto']['instagram'] }}</li>
        {% endif %}
        {% if aviso['contacto']['telegram'] %}
            <li><strong>Telegram:</strong> {{ aviso['contacto']['telegram'] }}</li>
        {% endif %}
        {% if aviso['contacto']['whatsapp'] %}
            <li><strong>WhatsApp:</strong> {{ aviso['contacto']['whatsapp'] }}</li>
        {% endif %}
        {% if aviso['contacto']['x'] %}
            <li><strong>X:</strong> {{ aviso['contacto']['x'] }}</li>
        {% endif %}
        {% if aviso['contacto']['tiktok'] %}
            <li><strong>TikTok:</strong> {{ aviso['contacto']['tiktok'] }}</li>
        {% endif %}
        {% if aviso['contacto']['telefono'] %}
            <li><strong>Teléfono:</strong> {{ aviso['contacto']['telefono'] }}</li>
        {% endif %}
        {% if aviso['contacto']['correo'] %}
            <li><strong>Correo:</strong> {{ aviso['contacto']['correo'] }}</li>
        {% endif %}
    </ul>
    <br>
    
    <h3>Fecha</h3>
    <ul>
        <li><strong>Publicación:</strong> {{ aviso['fecha_publicacion'] }}</li>
        <li><strong>Retiro desde:</strong> {{ aviso['fecha_entrega_formato'] }}</li>
    </ul>
    <br>
    
    {% if aviso['fotos']|length > 1 %}
    <h3>Fotos: </h3>
    {% for foto in aviso['fotos'] %}
        <img id="foto_{{ loop.index }}" 
             src="{{ url_for('static', filename='uploads/' + foto) }}" 
             alt="Foto {{ loop.index }}"
             style="max-width: 300px; margin: 10px;">
    {% endfor %}
    {% endif %}
    
    <br>
    <button id="info-tabla">
        Volver al listado
    </button>
    <button id="info-portada">
        Volver a la portada
    </button>

    <hr>
    
    <h2>Comentarios ({{ comentarios | length }})</h2>
    <div id="comentarios-listado">
        {% for c in comentarios %}
        <div class="comentario">
            <p><strong>{{ c.nombre }}</strong> - <small>{{ c.fecha.strftime('%d-%m-%Y %H:%M') }}</small></p>
            <p>{{ c.texto }}</p>
        </div>
        {% else %}
        <p>Aún no hay comentarios.</p>
        {% endfor %}
    </div>

    <hr>

    <h2>Agregar un Comentario</h2>
    <div id="comentario-form-container">
        <form id="form-comentario">
            <input type="hidden" name="aviso_id" value="{{ aviso.id }}">

            <label for="nombre-comentario">Nombre</label>
            <input type="text" name="nombre" id="nombre-comentario" minlength="3" maxlength="80" required>
            
            <label for="texto-comentario">Comentario</label>
            <textarea name="texto" id="texto-comentario" rows="4" cols="50" minlength="5" required></textarea>
            
            <button type="submit">Agregar comentario</button>
            
            <div id="comentario-flash-messages"></div>
        </form>
    </div>
    
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='JS/detalles_listado.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/comentarios.js') }}"></script>
    {% endblock %}