{% extends "base.html" %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
<div class="titulo">
    <h1>Estadísticas</h1>
</div>

<div class="stats">
    <div class="grafico1">
        <h2>Gráfico de la cantidad de avisos a lo largo del año</h2>
        <img src="{{ url_for('static', filename='uploads/GraficoLineas.png') }}" 
             alt="Grafico 1" 
             width="600">
    </div>
    
    <div class="grafico2">
        <h2>Gráfico del porcentaje de tipos de mascotas de los avisos</h2>
        <img src="{{ url_for('static', filename='uploads/GraficoTorta.png') }}" 
             alt="Grafico 2" 
             width="600">
    </div>
    
    <div class="grafico3">
        <h2>Gráfico de la cantidad de avisos mensualmente</h2>
        <img src="{{ url_for('static', filename='uploads/GraficoBarras.png') }}" 
             alt="Grafico 3" 
             width="600">
    </div>
    <br>
    
    <button id="stats-btn">
        Volver a la portada
    </button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='JS/estadisticas.js') }}"></script>
{% endblock %}